
.card{
    width: 300px;
    display: flex;

    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
}

.image img{
    border-radius:10px 10px 0 0;

    width: 100%;
    height: 300px;
    object-fit:cover;
    
    

}


.description{
    padding: 10px;
    
}

.button{
    background-color: gray;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 10px 20px;
}

.button:hover{
    box-shadow: 2px 2px 2px 2px rgb(209, 207, 207);
    /* background-color: white;
    color: black;
    border: 1px solid gray; */
    
}